[core]
	editor = vim
	autocrlf = input
	pager = less -+X -+F

[alias]
	st = status
	ci = commit
	cl = clone
	co = checkout
	br = branch
	mt = mergetool
	punch = push --force

[merge]
	tool = araxis

[branch]
	autosetuprebase = always

[push]
	default = simple

[mergetool "araxis"]
	path = /Applications/Araxis Merge.app/Contents/Utilities/compare
[user]
	name = Danny Radev
	email = danny@dradev.net
